<div class="row">
  <div class="col-12" style="height: 85vh; overflow-y: scroll">
    <ul>
      @for (item of chats(); track $index) { @if(item.origin == 'user') {

      <li>{{ item.origin }}: {{ item.content }}</li>
      } @else {
      <markdown [data]="item.content"></markdown>
      } }
    </ul>
  </div>
</div>
<form #f="ngForm" novalidate>
  <div class="row my-3 px-2">
    <div class="col">
      <textarea
        type="text"
        name="userMessage"
        rows="1"
        class="form-control"
        ngModel
      ></textarea>
    </div>
    <div class="col-2">
      <button class="btn btn-success" (click)="submitMessage(f)">Enviar</button>
    </div>
  </div>
</form>
