<div class="container">
  @if(cashFlows$ | async; as cashFlows) {
  <h2>Fluxo de caixa</h2>
  <table class="table table-striped-columns table-sm">
    <thead>
      <tr class="table-primary">
        <th>#</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Status</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      @for (cashFlow of cashFlows; track $index) {
      <tr>
        <td>
          <input type="checkbox" name="" class="form-check-input" />
        </td>
        <td>{{ cashFlow.description }}</td>
        <td>
          {{ cashFlow.amount | currency : "BRL" }}
        </td>
        <td>
          {{ cashFlow.status === "PAID" ? "Pago" : "Pendente" }}
        </td>
        <td>
          {{
            cashFlow.type === "INCOME"
              ? "Receita"
              : cashFlow.type === "EXPENSE"
              ? "Despesa"
              : "Investimento"
          }}
        </td>
      </tr>
      }
    </tbody>
  </table>
  <ul></ul>
  } @else {
  <p>Loading cash flows...</p>
  }
</div>
